.citate {
  position: relative;
  display: flex;
  align-items: center;
  //width: fit-content;
  gap: 6.944vw;

  @include smartphones() {
    gap: 4vw;
  }
}

.citate__img-container {
  position: relative;
  display: flex;

  @include ultraWide() {
    width: calc(670.8px * 1.736);
    height: calc(518.4px * 1.736);
  }
  @include regularWidth() {
    width: 670.8px;
    height: 518.4px;
  }
  @include tablet() {
    width: calc(670.8px * 0.85);
    height: calc(518px * 0.85);
  }
  @include tabletPortrait() {
    width: calc(670.8px * 0.652);
    height: calc(518px * 0.652);
  }
  @include smartphones() {
    width: calc(670.8px * 0.451);
    height: calc(518px * 0.451);
  }

  img {
    transform: translateX(25%);
    align-self: flex-end;

    @include ultraWide() {
      width: 691.8px;
      height: 900px;
    }
    @include regularWidth() {
      width: 399px;
      height: 519px;
    }
    @include tablet() {
      width: 339.5px;
      height: 441.6px;
    }
    @include tabletPortrait() {
      width: 260.4px;
      height: 338.7px;
    }
    @include smartphones() {
      width: 180px;
      height: 234px;
      max-width: 100%;
      max-height: 55vw;
    }

    @include tabletPortrait() {
      transform: translateX(10%);
    }

    @include smartphones() {
      transform: translateX(4%);
    }
  }
}

.citate__img-container::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(74, 153, 211, 0.1);
  width: 100%;
  @include ultraWide() {
    height: 672px;
  }
  @include regularWidth() {
    height: 414.72px;
  }
  @include tablet() {
    height: 354.24px;
  }
  @include tabletPortrait() {
    height: 270.4px;
  }
  @include smartphones() {
    height: 184px;
  }
}

.citate__text-block {
  transform: translateY(4vw);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 60%;
  width: 26.125em;

  @include smartphones() {
    transform: translateY(40px);
  }
}

.citate__quote {
  @include ultraWide() {
    width: 50px;
  }
  @include tablet() {
    width: 35px;
  }
  @include smartphones() {
    width: 20px;
  }
}

.citate__text {
  font-size: 1rem;
  line-height: 1.5em;
  opacity: 0.5;
}

.citate__author {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.055em;
}

.decoration_citate {
  @extend %decoration_card;
  top: 30%;
  width: 9.47%;
  right: 0;
}

.citate__carousel-buttons {
  display: flex;
  width: fit-content;
  align-self: flex-end;
  gap: 0;

  @include tabletPortrait() {
    transform: translateX(-15px) translateY(-30px);
  }

  @include smartphones() {
    transform: translateX(-15px) translateY(-12px);
  }
}
