/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: rgb(230, 187, 69);
}

* {
  font-family: "Objective" !important;
}

@media only screen and (max-width: 9999px) {
  html {
    font-size: 22px;
  }
}
@media only screen and (max-width: 2000px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1290px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (max-width: 650px) {
  html {
    font-size: 12px !important;
  }
}
@font-face {
  font-family: "Objective";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Objective-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Objective";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Objective-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Objective";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Objective-Bold.woff2") format("woff2");
}
.logo_white, .logo_blue {
  font-size: 2.5rem;
  font-weight: 700;
}

.logo_blue {
  color: #4a99d3;
}

.logo_white {
  color: white;
}

.heading_medium, .heading_big {
  font-weight: 500;
  color: #260041;
}

.heading_big {
  font-size: 3.125rem;
  line-height: 4.375rem;
  letter-spacing: 0.02em;
}

.heading_medium {
  font-size: 2.25rem;
  line-height: 1.277em;
  letter-spacing: 0.05;
}

.heading_small_dark_centered, .heading_small_blue {
  font-size: 1.625em;
  line-height: 1.038em;
  font-weight: 700;
}

.heading_small_blue {
  color: #4a99d3;
}

.heading_tiny_white {
  font-weight: 700;
  font-size: 0.65em;
  color: white;
}

.heading_small_dark_centered {
  color: #0f001a;
  text-align: center;
}

.product_left, .product_right {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  align-items: center;
}

.product_right {
  margin-top: 40px;
  justify-content: space-between;
}
@media only screen and (max-width: 980px) {
  .product_right {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    gap: 30px;
  }
}

.product_right > img {
  max-width: 40%;
}
@media only screen and (max-width: 9999px) {
  .product_right > img {
    width: 720px;
  }
}
@media only screen and (max-width: 2000px) {
  .product_right > img {
    width: 600px;
  }
}
@media only screen and (max-width: 980px) {
  .product_right > img {
    max-width: 80%;
    min-width: 300px;
    width: 430px;
  }
}
@media only screen and (max-width: 980px) {
  .product_right > img {
    position: static;
    transform: none;
  }
}

.product_left {
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  gap: 68px;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 9999px) {
  .product_left {
    margin: 160px 0 60px 0;
  }
}
@media only screen and (max-width: 2000px) {
  .product_left {
    margin: 158px 0 60px 0;
  }
}
@media only screen and (max-width: 1290px) {
  .product_left {
    margin: 130px 0 60px 0;
    gap: 30px;
  }
}
@media only screen and (max-width: 980px) {
  .product_left {
    margin: 130px 0px 60px 0px;
    gap: 38px;
  }
}
@media only screen and (max-width: 650px) {
  .product_left {
    flex-direction: column;
    margin-left: 0;
    padding-bottom: 30px;
  }
}

.product_left > img {
  max-width: 58%;
  min-width: 320px;
}
@media only screen and (max-width: 9999px) {
  .product_left > img {
    width: 850px;
  }
}
@media only screen and (max-width: 2000px) {
  .product_left > img {
    width: 650px;
  }
}
@media only screen and (max-width: 1290px) {
  .product_left > img {
    width: 516px;
  }
}
@media only screen and (max-width: 980px) {
  .product_left > img {
    width: 400px;
    max-width: 50%;
    min-width: 260px;
  }
}
@media only screen and (max-width: 650px) {
  .product_left > img {
    width: 500px;
    max-width: 88%;
    min-width: 300px;
  }
}

.product__info {
  max-width: 60%;
}
@media only screen and (max-width: 980px) {
  .product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }
}
@media only screen and (max-width: 650px) {
  .product__info {
    max-width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .product__info .heading_big {
    font-size: 2.4rem;
    letter-spacing: 0.017rem;
  }
}

.product__info_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 15px;
}
@media only screen and (max-width: 980px) {
  .product__info_centered {
    max-width: 30%;
  }
}
@media only screen and (max-width: 650px) {
  .product__info_centered {
    width: 80%;
    max-width: 80%;
  }
}

.product__description_light_centered, .product__description_big {
  margin: 0.875rem 0px 3.75rem 0px;
  width: 27.5em;
  max-width: 100%;
}
@media only screen and (max-width: 980px) {
  .product__description_light_centered, .product__description_big {
    margin: 0.875rem 0px 1.75rem 0px;
  }
}

.product__description_big {
  font-size: 1.25rem;
  line-height: 1.8em;
}
@media only screen and (max-width: 980px) {
  .product__description_big {
    align-items: center;
  }
}

.product__description_light_centered {
  text-align: center;
}
@media only screen and (max-width: 650px) {
  .product__description_light_centered {
    width: 100%;
  }
}

.decoration_citate, .decoration_card_buy, .decoration_card_send, .decoration_card_receive, .decoration_frame_lower_right_roated, .decoration_frame_high_right, .decoration_frame_lower_left, .decoration_frame_lower_left_roated {
  position: absolute;
}

.decoration_frame_lower_right_roated, .decoration_frame_high_right, .decoration_frame_lower_left, .decoration_frame_lower_left_roated {
  z-index: 1;
  width: 10vw;
  min-width: 120px;
}

.decoration_frame_lower_left, .decoration_frame_lower_left_roated {
  left: 0;
  bottom: 0;
}

.decoration_frame_high_right {
  top: 0;
  right: 0;
}

.decoration_frame_lower_left_roated {
  transform: rotate(180deg) translateY(-24%);
}

.decoration_frame_lower_right_roated {
  right: 0;
  bottom: 0;
  transform: rotate(180deg) translateY(-24%);
}

.carousel-button_right_white, .carousel-button_left_blue {
  background: baseTextColor;
  border-radius: 4px 0px 0px 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}
.carousel-button_right_white img, .carousel-button_left_blue img {
  width: 26.666%;
}
@media only screen and (max-width: 9999px) {
  .carousel-button_right_white, .carousel-button_left_blue {
    width: 105px;
    height: 105px;
  }
}
@media only screen and (max-width: 2000px) {
  .carousel-button_right_white, .carousel-button_left_blue {
    width: 85px;
    height: 85px;
  }
}
@media only screen and (max-width: 1290px) {
  .carousel-button_right_white, .carousel-button_left_blue {
    height: 75px;
    width: 75px;
  }
}
@media only screen and (max-width: 980px) {
  .carousel-button_right_white, .carousel-button_left_blue {
    height: 65px;
    width: 65px;
  }
}
@media only screen and (max-width: 650px) {
  .carousel-button_right_white, .carousel-button_left_blue {
    height: 50px;
    width: 50px;
    max-width: 10vw;
    max-height: 10vw;
    min-height: 40px;
    min-width: 40px;
  }
}

.carousel-button_right_white, .carousel-button_left_blue {
  border-radius: 4px 0px 0px 4px;
}

.carousel-button_left_blue {
  background: #4a99d3;
}

.carousel-button_right_white {
  background: white;
}

.carousel-button_left_blue:hover,
.carousel-button_right_white:hover {
  transition: 0.2s ease-out;
  filter: brightness(90%);
}

.downloads_slim, .downloads_big_inline {
  display: flex;
}

.downloads_big_inline {
  gap: clamp(10px, 1.388vw, 20px);
}
@media only screen and (max-width: 9999px) {
  .downloads_big_inline img {
    width: 270px;
  }
}
@media only screen and (max-width: 2000px) {
  .downloads_big_inline img {
    width: 180px;
  }
}
@media only screen and (max-width: 980px) {
  .downloads_big_inline img {
    width: 140px;
  }
}
@media only screen and (max-width: 980px) {
  .downloads_big_inline {
    justify-content: center;
  }
}

.downloads_slim {
  gap: clamp(10px, 1.944vw, 20px);
}
@media only screen and (max-width: 9999px) {
  .downloads_slim img {
    width: 250px;
  }
}
@media only screen and (max-width: 2000px) {
  .downloads_slim img {
    width: 165px;
  }
}
@media only screen and (max-width: 980px) {
  .downloads_slim img {
    width: 130px;
  }
}

.nav__list, .nav__list_gap-60 {
  display: flex;
  flex-direction: row;
  gap: 5.208vw;
}
@media only screen and (max-width: 1290px) {
  .nav__list, .nav__list_gap-60 {
    gap: 10vw;
  }
}
@media only screen and (max-width: 980px) {
  .nav__list, .nav__list_gap-60 {
    gap: 5vw;
  }
}

.nav__list_gap-60 {
  gap: 4.166vw;
}

.nav__link, .nav__link_active {
  font-size: 1.125rem;
}

.nav__link_active {
  color: #4a99d3;
  font-weight: 500;
}

.nav-category {
  display: flex;
  flex-direction: column;
  gap: 1.888em;
}
@media only screen and (max-width: 1290px) {
  .nav-category {
    max-width: 80;
  }
}

.nav-category__heading {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 0.125rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  border-bottom: 2px solid white;
  color: white;
}

.nav-category__item {
  font-size: 0.875rem;
  color: white;
}

.nav-category__body {
  display: flex;
  flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 1.428em;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.first-frame {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  box-shadow: 0px 4px 16px 0px rgba(75, 0, 129, 0.06);
}
@media only screen and (max-width: 9999px) {
  .first-frame {
    padding: 60px 100px 60px 345px;
  }
}
@media only screen and (max-width: 2000px) {
  .first-frame {
    padding: 45px 86px 45px 245px;
  }
}
@media only screen and (max-width: 1290px) {
  .first-frame {
    padding: 45px 52px 45px 172px;
  }
}
@media only screen and (max-width: 980px) {
  .first-frame {
    padding: 45px 89px 45px 89px;
  }
}
@media only screen and (max-width: 650px) {
  .first-frame {
    padding: 45px 30px 45px 30px;
  }
}

.first-frame::after {
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(1.02deg, #4a99d3 -17.33%, rgba(74, 153, 211, 0) 75.91%), #ffffff;
  opacity: 0.2;
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
  height: 100%;
  width: 100%;
  transform: rotate(-180deg);
}

.card {
  position: relative;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  padding: 48px;
  flex-direction: column;
  flex-shrink: 0;
}
@media only screen and (max-width: 9999px) {
  .card {
    width: 500px;
    height: 676px;
  }
}
@media only screen and (max-width: 2000px) {
  .card {
    width: 380px;
    height: 481px;
  }
}
@media only screen and (max-width: 1290px) {
  .card {
    width: 330px;
    height: 470px;
  }
}
@media only screen and (max-width: 980px) {
  .card {
    width: 300px;
    height: 416px;
  }
}
@media only screen and (max-width: 650px) {
  .card {
    max-width: none;
  }
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
  background: white;
}

.card__image_buy, .card__image_send, .card__image_recive {
  position: absolute;
  align-self: center;
  height: 9.1vw;
}
@media only screen and (max-width: 9999px) {
  .card__image_buy, .card__image_send, .card__image_recive {
    height: 182px;
  }
}
@media only screen and (max-width: 2000px) {
  .card__image_buy, .card__image_send, .card__image_recive {
    height: 130px;
  }
}
@media only screen and (max-width: 980px) {
  .card__image_buy, .card__image_send, .card__image_recive {
    height: 102.4px;
  }
}

.card__image_recive {
  transform: translateX(-18%);
}

.card__image_send {
  align-self: center;
  top: -5%;
}
@media only screen and (max-width: 9999px) {
  .card__image_send {
    height: 238px;
  }
}
@media only screen and (max-width: 2000px) {
  .card__image_send {
    height: 194.5px;
  }
}
@media only screen and (max-width: 980px) {
  .card__image_send {
    height: 153.27px;
  }
}

.card__image_buy {
  transform: translateX(-10%);
}

.card__info {
  width: 100%;
}
@media only screen and (max-width: 9999px) {
  .card__info {
    margin-top: 238px;
  }
}
@media only screen and (max-width: 2000px) {
  .card__info {
    margin-top: 186px;
  }
}
@media only screen and (max-width: 980px) {
  .card__info {
    margin-top: 158.4px;
  }
}

.card__heading {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #0f001a;
}

.card__description {
  margin-top: 1rem;
  opacity: 0.6;
  color: #0f001a;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625em;
}

.card__learn-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #4a99d3;
}
.card__learn-more span {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}
.card__learn-more img {
  width: 1em;
  height: 1em;
}

.decoration_citate, .decoration_card_buy, .decoration_card_send, .decoration_card_receive {
  z-index: -2;
  width: 29%;
}
@media only screen and (max-width: 980px) {
  .decoration_citate, .decoration_card_buy, .decoration_card_send, .decoration_card_receive {
    display: none;
  }
}

.decoration_card_receive {
  bottom: 0;
  left: 0;
  transform: translateX(-70%) translateY(-80%);
}

.decoration_card_send {
  top: 0;
  right: 0;
  transform: translateX(55%) translateY(-55%);
}

.decoration_card_buy {
  bottom: 0;
  right: 0;
  transform: translateX(55%) translateY(55%);
}

.second-frame {
  position: relative;
  padding: clamp(90px, 10.4166vw, 500px) 17.0138vw clamp(110px, 10.4166vw, 500px) 17.0138vw;
}

.second-frame__layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7.29vw;
}
@media only screen and (max-width: 650px) {
  .second-frame__layout {
    flex-direction: column;
    gap: 0;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.second-frame__card-group {
  display: flex;
  flex-direction: column;
  gap: 7.29vw;
}
@media only screen and (max-width: 650px) {
  .second-frame__card-group {
    gap: 0;
  }
  .second-frame__card-group .card {
    margin-top: 75px;
  }
}

.second-frame__heading {
  width: 11em;
}
@media only screen and (max-width: 650px) {
  .second-frame__heading {
    transform: translateX(-40px);
  }
}

.hint {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .hint {
    width: 100vw;
    box-sizing: border-box;
    padding: 4vw;
  }
}

@media only screen and (max-width: 650px) {
  .hint:nth-of-type(2) {
    background: rgba(74, 153, 211, 0.1);
  }
}

.hint__image {
  width: clamp(55px, 4vw, 85px);
}

.hint__heading {
  margin-top: 30px;
  font-weight: 500;
  font-size: 1.125rem;
}

.hint__description {
  width: 14em;
  margin-top: 10px;
  line-height: 1.625em;
  font-size: 1rem;
  text-align: center;
}

.third-frame {
  background: rgba(74, 153, 211, 0.1);
  padding: 6.597vw 17.013vw 6.597vw 17.013vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vw;
}

.third-frame__layout {
  display: flex;
  flex-direction: row;
  gap: 7.36vw;
}
@media only screen and (max-width: 650px) {
  .third-frame__layout {
    flex-direction: column;
    gap: 0;
  }
}

.citate {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6.944vw;
}
@media only screen and (max-width: 650px) {
  .citate {
    gap: 4vw;
  }
}

.citate__img-container {
  position: relative;
  display: flex;
}
@media only screen and (max-width: 9999px) {
  .citate__img-container {
    width: 1164.5088px;
    height: 899.9424px;
  }
}
@media only screen and (max-width: 2000px) {
  .citate__img-container {
    width: 670.8px;
    height: 518.4px;
  }
}
@media only screen and (max-width: 1290px) {
  .citate__img-container {
    width: 570.18px;
    height: 440.3px;
  }
}
@media only screen and (max-width: 980px) {
  .citate__img-container {
    width: 437.3616px;
    height: 337.736px;
  }
}
@media only screen and (max-width: 650px) {
  .citate__img-container {
    width: 302.5308px;
    height: 233.618px;
  }
}
.citate__img-container img {
  transform: translateX(25%);
  align-self: flex-end;
}
@media only screen and (max-width: 9999px) {
  .citate__img-container img {
    width: 691.8px;
    height: 900px;
  }
}
@media only screen and (max-width: 2000px) {
  .citate__img-container img {
    width: 399px;
    height: 519px;
  }
}
@media only screen and (max-width: 1290px) {
  .citate__img-container img {
    width: 339.5px;
    height: 441.6px;
  }
}
@media only screen and (max-width: 980px) {
  .citate__img-container img {
    width: 260.4px;
    height: 338.7px;
  }
}
@media only screen and (max-width: 650px) {
  .citate__img-container img {
    width: 180px;
    height: 234px;
    max-width: 100%;
    max-height: 55vw;
  }
}
@media only screen and (max-width: 980px) {
  .citate__img-container img {
    transform: translateX(10%);
  }
}
@media only screen and (max-width: 650px) {
  .citate__img-container img {
    transform: translateX(4%);
  }
}

.citate__img-container::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(74, 153, 211, 0.1);
  width: 100%;
}
@media only screen and (max-width: 9999px) {
  .citate__img-container::after {
    height: 672px;
  }
}
@media only screen and (max-width: 2000px) {
  .citate__img-container::after {
    height: 414.72px;
  }
}
@media only screen and (max-width: 1290px) {
  .citate__img-container::after {
    height: 354.24px;
  }
}
@media only screen and (max-width: 980px) {
  .citate__img-container::after {
    height: 270.4px;
  }
}
@media only screen and (max-width: 650px) {
  .citate__img-container::after {
    height: 184px;
  }
}

.citate__text-block {
  transform: translateY(4vw);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 60%;
  width: 26.125em;
}
@media only screen and (max-width: 650px) {
  .citate__text-block {
    transform: translateY(40px);
  }
}

@media only screen and (max-width: 9999px) {
  .citate__quote {
    width: 50px;
  }
}
@media only screen and (max-width: 1290px) {
  .citate__quote {
    width: 35px;
  }
}
@media only screen and (max-width: 650px) {
  .citate__quote {
    width: 20px;
  }
}

.citate__text, .product__description_light_centered {
  font-size: 1rem;
  line-height: 1.5em;
  opacity: 0.5;
}

.citate__author {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.055em;
}

.decoration_citate {
  top: 30%;
  width: 9.47%;
  right: 0;
}

.citate__carousel-buttons {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  gap: 0;
}
@media only screen and (max-width: 980px) {
  .citate__carousel-buttons {
    transform: translateX(-15px) translateY(-30px);
  }
}
@media only screen and (max-width: 650px) {
  .citate__carousel-buttons {
    transform: translateX(-15px) translateY(-12px);
  }
}

.fourth-frame {
  position: relative;
  padding-top: 90px;
  padding-bottom: 55px;
  overflow: hidden;
}

@media only screen and (max-width: 980px) {
  .fourth-frame > .heading_small_dark_centered {
    margin-bottom: 50px;
  }
}

.contact-form {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-template-columns: auto auto;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media only screen and (max-width: 1290px) {
  .contact-form {
    margin-top: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.contact-form__label {
  grid-row: 1/1;
  grid-column: span 2;
  width: 20.2em;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.444em;
  color: white;
}
@media only screen and (max-width: 1290px) {
  .contact-form__label {
    width: 100%;
  }
}

.contact-form__email {
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  width: clamp(240px, 18.6vw, 500px);
  height: 3.125em;
  font-size: 1rem;
}
@media only screen and (max-width: 1290px) {
  .contact-form__email {
    max-width: 80%;
    width: 20rem;
    padding-left: 6px;
  }
}
@media only screen and (max-width: 980px) {
  .contact-form__email {
    padding-left: 30px;
    justify-self: center;
  }
}

.contact-form__email::-moz-placeholder {
  font-size: 1rem;
}

.contact-form__email:-ms-input-placeholder {
  font-size: 1rem;
}

.contact-form__email::placeholder {
  font-size: 1rem;
}

.contact-form__submit {
  height: 3.125em;
  width: 7.1875em;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: #4a99d3;
  background: white;
  border-radius: 3px;
}

.contact-form__submit:hover {
  transition: 0.2s ease-out;
  filter: brightness(90%);
}

.social-media {
  display: flex;
  gap: 25px;
}
@media only screen and (max-width: 650px) {
  .social-media {
    gap: 15px;
  }
}

.social-media__icon {
  transition: 0.1s ease-out;
  cursor: pointer;
  height: clamp(16px, 1.1vw, 30px);
}

.social-media__icon:hover {
  transition: 0.3s ease-out;
  transform: translateY(-5px);
  box-shadow: 0px 7px 50px white;
}

.footer {
  background: #4a99d3;
  position: relative;
  z-index: 2;
  flex-direction: column;
  padding-top: 55px;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 980px) {
  .footer .logo_white {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(8.611vw) translateY(3vw);
  }
}
@media only screen and (max-width: 9999px) {
  .footer .logo_white {
    margin-right: 180px;
  }
}
@media only screen and (max-width: 2000px) {
  .footer .logo_white {
    margin-right: 145px;
  }
}
@media only screen and (max-width: 1290px) {
  .footer .logo_white {
    margin-right: 90px;
  }
}
@media only screen and (max-width: 9999px) {
  .footer .nav {
    margin-right: 130px;
  }
}
@media only screen and (max-width: 2000px) {
  .footer .nav {
    margin-right: 79px;
  }
}
@media only screen and (max-width: 1290px) {
  .footer .nav {
    margin-right: 45px;
  }
}
@media only screen and (max-width: 650px) {
  .footer .nav {
    display: none;
  }
}

.footer__upper-part {
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 9999px) {
  .footer__upper-part {
    padding: 0 180px 28px 180px;
  }
}
@media only screen and (max-width: 2000px) {
  .footer__upper-part {
    padding: 0 124px 28px 124px;
  }
}
@media only screen and (max-width: 1290px) {
  .footer__upper-part {
    padding: 0 90px 28px 90px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.footer__lower-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
}
@media only screen and (max-width: 9999px) {
  .footer__lower-part {
    padding: 23px 180px;
  }
}
@media only screen and (max-width: 2000px) {
  .footer__lower-part {
    padding: 23px 124px;
  }
}
@media only screen and (max-width: 1290px) {
  .footer__lower-part {
    padding: 23px 90px;
  }
}
@media only screen and (max-width: 650px) {
  .footer__lower-part {
    padding: 23px 35px;
  }
}/*# sourceMappingURL=index.css.map */