%carousel-button {
  background: baseTextColor;
  border-radius: 4px 0px 0px 4px;

  border: none;

  cursor: pointer;

  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

  img {
    width: 26.666%;
  }

  @include ultraWide {
    width: 105px;
    height: 105px;
  }
  @include regularWidth() {
    width: 85px;
    height: 85px;
  }
  @include tablet() {
    height: 75px;
    width: 75px;
  }
  @include tabletPortrait() {
    height: 65px;
    width: 65px;
  }
  @include smartphones() {
    height: 50px;
    width: 50px;

    max-width: 10vw;
    max-height: 10vw;

    min-height: 40px;
    min-width: 40px;
  }
}

%carousel-button_left {
  @extend %carousel-button;
  border-radius: 4px 0px 0px 4px;
}

%carousel-button_right {
  @extend %carousel-button;
  border-radius: 0px 4px 4px 0px;
}

.carousel-button_left_blue {
  @extend %carousel-button_left;
  background: #4a99d3;
}

.carousel-button_right_white {
  @extend %carousel-button_left;
  background: white;
}

.carousel-button_left_blue:hover,
.carousel-button_right_white:hover {
  transition: 0.2s ease-out;
  filter: brightness(90%);
}
