%downloads {
  display: flex;
}

.downloads_big_inline {
  @extend %downloads;
  gap: clamp(10px, 1.388vw, 20px);
  img {
    @include ultraWide() {
      width: 270px;
    }
    @include regularWidth() {
      width: 180px;
    }

    @include tabletPortrait() {
      width: 140px;
    }
  }
  @include tabletPortrait() {
    justify-content: center;
  }
}

.downloads_slim {
  @extend %downloads;
  gap: clamp(10px, 1.944vw, 20px);
  img {
    @include ultraWide() {
      width: 250px;
    }
    @include regularWidth() {
      width: 165px;
    }

    @include tabletPortrait() {
      width: 130px;
    }
  }
}
