%downloads {
  display: flex;
}

.downloads_big_inline {
  @extend %downloads;
  gap: 1.388vw;
  img {
    width: 12.5vw;
    min-width: 180px;
    max-width: 270px;

    @include media($tabletPortrait) {
      min-width: 140px;
    }
  }

  @include media($tabletPortrait) {
    justify-content: center;
  }
}

.downloads_slim {
  @extend %downloads;
  gap: 1.944vw;
  img {
    width: 11.25vw;
    min-width: 180px;
    max-width: 250px;

    @include media($tabletPortrait) {
      min-width: 140px;
    }
  }
}
