%product {
  display: flex;
  position: relative;

  width: 100%;
  max-width: 100%;

  align-items: center;
}

.product_right {
  margin-top: 40px;
  @extend %product;
  justify-content: space-between;

  @include tabletPortrait() {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    align-items: center;
    gap: 30px;
  }
}
.product_right > img {
  max-width: 40%;

  @include ultraWide() {
    width: 720px;
  }
  @include regularWidth() {
    width: 600px;
  }

  @include tabletPortrait() {
    max-width: 80%;
    min-width: 300px;
    width: 430px;
  }

  @include tabletPortrait() {
    position: static;
    transform: none;
  }
}

.product_left {
  @extend %product;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  gap: 68px;
  flex-direction: row-reverse;

  @include ultraWide() {
    margin: 160px 0 60px 0;
  }

  @include regularWidth() {
    margin: 158px 0 60px 0;
  }

  @include tablet() {
    margin: 130px 0 60px 0;
    gap: 30px;
  }

  @include tabletPortrait {
    margin: 130px 0px 60px 0px;
    gap: 38px;
  }

  @include smartphones() {
    flex-direction: column;
    margin-left: 0;
    padding-bottom: 30px;
  }
}
.product_left > img {
  max-width: 58%;
  min-width: 320px;

  @include ultraWide() {
    width: 850px;
  }
  @include regularWidth() {
    width: 650px;
  }
  @include tablet() {
    width: 516px;
  }
  @include tabletPortrait() {
    width: 400px;
    max-width: 50%;
    min-width: 260px;
  }
  @include smartphones() {
    width: 500px;
    max-width: 88%;
    min-width: 300px;
  }
}

.product__info {
  max-width: 60%;

  @include tabletPortrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }

  @include smartphones {
    max-width: 100%;
  }

  .heading_big {
    @include smartphones() {
      font-size: 2.4rem;
      letter-spacing: 0.017rem;
    }
  }
}

.product__info_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  width: fit-content;

  gap: 15px;

  @include tabletPortrait() {
    max-width: 30%;
  }
  @include smartphones {
    width: 80%;
    max-width: 80%;
  }
}

%product__description {
  margin: 0.875rem 0px 3.75rem 0px;
  width: 27.5em;
  max-width: 100%;
  @include tabletPortrait() {
    margin: 0.875rem 0px 1.75rem 0px;
  }
}

.product__description_big {
  @extend %product__description;
  font-size: 1.25rem;
  line-height: 1.8em;

  @include tabletPortrait() {
    align-items: center;
  }
}

.product__description_light_centered {
  @extend .citate__text;
  @extend %product__description;
  @include smartphones() {
    width: 100%;
  }
  text-align: center;
}
