@import "./card/card";

.second-frame {
  position: relative;
  padding: clamp(90px, 10.4166vw, 500px) 17.0138vw
    clamp(110px, 10.4166vw, 500px) 17.0138vw;
}

.second-frame__layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7.29vw;

  @include smartphones() {
    flex-direction: column;
    gap: 0;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.second-frame__card-group {
  display: flex;
  flex-direction: column;
  gap: 7.29vw;

  @include smartphones() {
    gap: 0;
    .card {
      margin-top: 75px;
    }
  }
}

.second-frame__heading {
  width: 11em;
  @include smartphones() {
    transform: translateX(-40px);
  }
}
