.nav-category {
  display: flex;
  flex-direction: column;
  gap: 1.888em;

  @include media($tablet) {
    max-width: 80;
  }
}

.nav-category__heading {
  width: max-content;
  padding-bottom: 0.125rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.1875rem;
  border-bottom: 2px solid white;
  color: white;
}

.nav-category__item {
  font-size: 0.875rem;
  color: white;
}

.nav-category__body {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 1.428em;
}
