@import "./contact-form/contact-form";
@import "./social-media/social-media";

.footer {
  background: $baseTextColor;
  position: relative;
  z-index: 2;
  flex-direction: column;
  padding-top: 55px;
  box-sizing: border-box;
  width: 100vw;

  display: flex;
  flex-wrap: wrap;

  .logo_white {
    @include tabletPortrait() {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(8.611vw) translateY(3vw);
    }
    @include ultraWide() {
      margin-right: 180px;
    }

    @include regularWidth() {
      margin-right: 145px;
    }

    @include tablet() {
      margin-right: 90px;
    }
  }

  .nav {
    @include ultraWide() {
      margin-right: 130px;
    }
    @include regularWidth() {
      margin-right: 79px;
    }
    @include tablet {
      margin-right: 45px;
    }
    @include smartphones() {
      display: none;
    }
  }
}

.footer__upper-part {
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;

  @include ultraWide() {
    padding: 0 180px 28px 180px;
  }

  @include regularWidth() {
    padding: 0 124px 28px 124px;
  }

  @include tablet() {
    padding: 0 90px 28px 90px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.footer__lower-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;

  @include ultraWide() {
    padding: 23px 180px;
  }

  @include regularWidth() {
    padding: 23px 124px;
  }

  @include tablet() {
    padding: 23px 90px;
  }

  @include smartphones() {
    padding: 23px 35px;
  }
}
