//breakpoints
$ultraWide: 9999px;
$regularWidth: 2000px;
$tablet: 1290px;
$tabletPortrait: 980px;
$smartphones: 650px;

//Text settingss
$mainFont: "Objective";

//text colors
$baseTextColor: #4a99d3;
$headerColor: #260041;
$blockTextColor: #0f001a;
$footerTextColor: white;
