@import "./citate/citate";

.fourth-frame {
  position: relative;
  padding-top: 90px;
  padding-bottom: 55px;
  overflow: hidden;
}

.fourth-frame > .heading_small_dark_centered {
  @include tabletPortrait() {
    margin-bottom: 50px;
  }
}
